body {
    padding-top: 50px;
}

.subject {
    padding: 20px 15px;
    text-align: center;
}

table ul {
    padding-left: 0;
    margin-bottom: 0;
}

table ul li {
    list-style: none;
}

.table-list tbody tr:hover {
    cursor: pointer;
}

.navbar-inverse {
    background-color: #36c;
    border-color: #2548b2;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #47d;
}

.navbar-brand:hover img {
    -webkit-filter:brightness(100%);
}

th div.filter,
th div.filter input {
    display: inline;
}

th div.filter input {
    margin-left: 0.5em;
}

th input.form-control.input-sm {
    height: 1.7em;
    width: 6.0em;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cell-desc {
    max-width: 32.0em;
}

.cell-repoTags,
.cell-names,
.cell-ports {
    max-width: 16.0em;
}
