body {
    padding-top: 50px;
}

.subject {
    padding: 20px 15px;
    text-align: center;
}

table ul {
    padding-left: 0;
    margin-bottom: 0;
}

table ul li {
    list-style: none;
}

.table-list tr:hover {
    cursor: pointer;
}

.table-list tr:hover:first-child {
    cursor: auto;
}