body {
    padding-top: 50px;
}

.subject {
    padding: 20px 15px;
    text-align: center;
}

table ul {
    padding-left: 0;
    margin-bottom: 0;
}

table ul li {
    list-style: none;
}

.table-list tr:hover {
    cursor: pointer;
}

.table-list tr:hover:first-child {
    cursor: auto;
}

.navbar-inverse {
    background-color: #36c;
    border-color: #25b;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: #f8f8f8;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #47d;
}

.navbar-brand img {
    -webkit-filter:brightness(97.25%);
}

.navbar-brand:hover img {
    -webkit-filter:brightness(100%);
}

td .more {
    overflow: hidden;
    height: 1.43em;
    font-weight: bold;
}

tr:hover td .more {
    overflow: auto;
    height:auto;
    font-weight: normal;
}
