<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: header (title=${title} + ' - bluefairy')"></head>
<body>
<nav th:replace="_fragment :: navigator"></nav>
<div class="container">
    <div class="subject">
        <h1 th:text="${title}">title</h1>
        <p th:text="${container.name}" class="lead">name</p>
    </div>
    <div>
        <table class="table table-hover table-condensed">
            <tr class="active">
                <th>Key</th>
                <th>Value</th>
            </tr>
            <tr>
                <th><mark>Id</mark></th>
                <td th:text="${container.id}">id</td>
            </tr>
            <tr>
                <th><mark>Name</mark></th>
                <td th:text="${container.name}">name</td>
            </tr>
            <tr>
                <th><mark>Image</mark></th>
                <td th:text="${container.image}">image</td>
            </tr>
            <tr>
                <th><mark>Path</mark></th>
                <td th:text="${container.path}">path</td>
            </tr>
            <tr>
                <th><mark>Created</mark></th>
                <td th:text="${container.created}">created</td>
            </tr>

            <!-- Config -->
            <tr>
                <th><mark>Config/Image</mark></th>
                <td th:text="${container.config.image}">config</td>
            </tr>
            <tr>
                <th><mark>Config/Cmd</mark></th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.config.cmd != null
                            and #arrays.length(container.config.cmd) &gt;= 2} ? 'more'">
                        <li th:each="cmd, status : ${container.config.cmd}">
                            <span th:text="${cmd}">cmd</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th><mark>Config/WorkingDir</mark></th>
                <td th:text="${container.config.workingDir}">config</td>
            </tr>
            <tr>
                <th>Config/User</th>
                <td th:text="${container.config.user}">config</td>
            </tr>
            <tr>
                <th>Config/Domainname</th>
                <td th:text="${container.config.domainname}">config</td>
            </tr>
            <tr>
                <th>Config/Hostname</th>
                <td th:text="${container.config.hostname}">config</td>
            </tr>
            <tr>
                <th>Config/NetworkDisabled</th>
                <td th:text="${container.config.networkDisabled}">config</td>
            </tr>
            <tr>
                <th>Config/ExposedPorts</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.config.exposedPorts != null
                            and #maps.size(container.config.exposedPorts) &gt;= 2} ? 'more'">
                        <li th:each="port, status : ${container.config.exposedPorts}">
                            <span th:text="${port.key}">port</span><span>&lt;-</span><span
                                  th:each="pt : ${port.value}"><span
                                  th:text="${pt.key} + ':' + ${pt.value}">pt</span>
                            </span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Config/PortSpecs</th>
                <td th:text="${container.config.portSpecs}">config</td>
            </tr>
            <tr>
                <th>Config/MacAddress</th>
                <td th:text="${container.config.macAddress}">config</td>
            </tr>
            <tr>
                <th>Config/CpuShares</th>
                <td th:text="${container.config.cpuShares}">config</td>
            </tr>
            <tr>
                <th>Config/Cpuset</th>
                <td th:text="${container.config.cpuset}">config</td>
            </tr>
            <tr>
                <th>Config/Memory</th>
                <td th:text="${container.config.memory}">config</td>
            </tr>
            <tr>
                <th>Config/MemorySwap</th>
                <td th:text="${container.config.memorySwap}">config</td>
            </tr>
            <tr>
                <th>Config/Volumes</th>
                <td th:text="${container.config.volumes}">config</td>
            </tr>
            <tr>
                <th>Config/Entrypoint</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.config.entrypoint != null
                            and #arrays.length(container.config.entrypoint) &gt;= 2} ? 'more'">
                        <li th:each="entrypoint, status : ${container.config.entrypoint}">
                            <span th:text="${entrypoint}">entrypoint</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Config/OnBuild</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.config.entrypoint != null
                            and #arrays.length(container.config.entrypoint) &gt;= 2} ? 'more'">
                        <li th:each="onBuild, status : ${container.config.onBuild}">
                            <span th:text="${onBuild}">onBuild</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Config/AttachStdin</th>
                <td th:text="${container.config.attachStdin}">config</td>
            </tr>
            <tr>
                <th>Config/AttachStdout</th>
                <td th:text="${container.config.attachStdout}">config</td>
            </tr>
            <tr>
                <th>Config/AttachStderr</th>
                <td th:text="${container.config.attachStderr}">config</td>
            </tr>
            <tr>
                <th>Config/OpenStdin</th>
                <td th:text="${container.config.openStdin}">config</td>
            </tr>
            <tr>
                <th>Config/StdinOnce</th>
                <td th:text="${container.config.stdinOnce}">config</td>
            </tr>
            <tr>
                <th>Config/Tty</th>
                <td th:text="${container.config.tty}">config</td>
            </tr>
            <tr>
                <th>Config/Env</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.config.env != null
                            and #arrays.length(container.config.env) &gt;= 2} ? 'more'">
                        <li th:each="env, status : ${container.config.env}">
                            <span th:text="${env}">env</span>
                        </li>
                    </ul>
                </td>
            </tr>

            <!-- NetworkSettings -->
            <tr>
                <th>NetworkSettings/IPAddress</th>
                <td th:text="${container.networkSettings.ipAddress}">networkSettings</td>
            </tr>
            <tr>
                <th>NetworkSettings/IPPrefixLen</th>
                <td th:text="${container.networkSettings.ipPrefixLen}">networkSettings</td>
            </tr>
            <tr>
                <th>NetworkSettings/GlobalIPv6Address</th>
                <td th:text="${container.networkSettings.globalIPv6Address}">networkSettings</td>
            </tr>
            <tr>
                <th>NetworkSettings/GlobalIPv6PrefixLen</th>
                <td th:text="${container.networkSettings.globalIPv6PrefixLen}">networkSettings</td>
            </tr>
            <tr>
                <th>NetworkSettings/LinkLocalIPv6Address</th>
                <td th:text="${container.networkSettings.linkLocalIPv6Address}">networkSettings</td>
            </tr>
            <tr>
                <th>NetworkSettings/LinkLocalIPv6PrefixLen</th>
                <td th:text="${container.networkSettings.linkLocalIPv6PrefixLen}">networkSettings</td>
            </tr>
            <tr>
                <th>NetworkSettings/Gateway</th>
                <td th:text="${container.networkSettings.gateway}">networkSettings</td>
            </tr>
            <tr>
                <th>NetworkSettings/IPv6Gateway</th>
                <td th:text="${container.networkSettings.ipv6Gateway}">networkSettings</td>
            </tr>
            <tr>
                <th>NetworkSettings/Bridge</th>
                <td th:text="${container.networkSettings.bridge}">networkSettings</td>
            </tr>
            <tr>
                <th>NetworkSettings/MacAddress</th>
                <td th:text="${container.networkSettings.macAddress}">networkSettings</td>
            </tr>
            <tr>
                <th>NetworkSettings/PortMapping</th>
                <td th:text="${container.networkSettings.portMapping}">networkSettings</td>
            </tr>
            <tr>
                <th><mark>NetworkSettings/Ports</mark></th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.networkSettings.ports != null
                            and #maps.size(container.networkSettings.ports) &gt;= 2} ? 'more'">
                        <li th:each="port, status : ${container.networkSettings.ports}">
                            <span th:text="${port.key}">key</span><span>&lt;-</span><span
                                th:each="pt : ${port.value}"><span
                                th:text="${pt.hostIp} + ':' + ${pt.hostPort}">pt</span>
                            </span>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <th><mark>Volumes</mark></th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.volumes != null
                            and #maps.size(container.volumes) &gt;= 2} ? 'more'">
                        <li th:each="volume, status : ${container.volumes}">
                            <span th:text="${volume.key} + ' : ' + ${volume.value}">volume</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th><mark>VolumesRW</mark></th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.volumesRW != null
                            and #maps.size(container.volumesRW) &gt;= 2} ? 'more'">
                        <li th:each="volume, status : ${container.volumesRW}">
                            <span th:text="${volume.key} + ' : ' + ${volume.value}">volumeRW</span>
                        </li>
                    </ul>
                </td>
            </tr>

            <!-- HostConfig -->
            <tr>
                <th><mark>HostConfig/Binds</mark></th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.hostConfig.binds != null
                            and #arrays.length(container.hostConfig.binds) &gt;= 2} ? 'more'">
                        <li th:each="bind, status : ${container.hostConfig.binds}">
                            <span th:text="${bind}">bind</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>HostConfig/CapAdd</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.hostConfig.capAdd != null
                            and #arrays.length(container.hostConfig.capAdd) &gt;= 2} ? 'more'">
                        <li th:each="capAdd, status : ${container.hostConfig.capAdd}">
                            <span th:text="${capAdd}">capAdd</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>HostConfig/CapDrop</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.hostConfig.capDrop != null
                            and #arrays.length(container.hostConfig.capDrop) &gt;= 2} ? 'more'">
                        <li th:each="capDrop, status : ${container.hostConfig.capDrop}">
                            <span th:text="${capDrop}">capDrop</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>HostConfig/ContainerIDFile</th>
                <td th:text="${container.hostConfig.containerIDFile}">hostConfig</td>
            </tr>
            <tr>
                <th>HostConfig/Devices</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.hostConfig.devices != null
                            and #arrays.length(container.hostConfig.devices) &gt;= 2} ? 'more'">
                        <li th:each="device, status : ${container.hostConfig.devices}">
                            <span th:text="${device}">bind</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>HostConfig/Dns</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.hostConfig.dns != null
                            and #arrays.length(container.hostConfig.dns) &gt;= 2} ? 'more'">
                        <li th:each="dns, status : ${container.hostConfig.dns}">
                            <span th:text="${dns}">dns</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>HostConfig/DnsSearch</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.hostConfig.dnsSearch != null
                            and #arrays.length(container.hostConfig.dnsSearch) &gt;= 2} ? 'more'">
                        <li th:each="dnsSearch, status : ${container.hostConfig.dnsSearch}">
                            <span th:text="${dnsSearch}">dns</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>HostConfig/ExtraHosts</th>
                <td th:text="${container.hostConfig.extraHosts}">hostConfig</td>
            </tr>
            <tr>
                <th>HostConfig/IpcMode</th>
                <td th:text="${container.hostConfig.ipcMode}">hostConfig</td>
            </tr>
            <tr>
                <th>HostConfig/Links</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.hostConfig.links != null
                            and #arrays.length(container.hostConfig.links) &gt;= 2} ? 'more'">
                        <li th:each="link, status : ${container.hostConfig.links}">
                            <span th:text="${link}">links</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>HostConfig/LxcConf</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.hostConfig.lxcConf != null
                            and #arrays.length(container.hostConfig.lxcConf) &gt;= 2} ? 'more'">
                        <li th:each="lxcConf, status : ${container.hostConfig.lxcConf}">
                            <span th:text="${lxcConf.key} + ' : ' + ${lxcConf.value}">lxc</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>HostConfig/NetworkMode</th>
                <td th:text="${container.hostConfig.networkMode}">hostConfig</td>
            </tr>
            <tr>
                <th>HostConfig/PidMode</th>
                <td th:text="${container.hostConfig.pidMode}">hostConfig</td>
            </tr>
            <tr>
                <th>HostConfig/PortBindings</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.config.portBindings != null
                            and #maps.size(container.config.portBindings) &gt;= 2} ? 'more'">
                        <li th:each="port, status : ${container.config.portBindings}">
                            <span th:text="${port.key} + '->' + ${port.value.hostIp} + ':' + ${port.value.hostPort}">port</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>HostConfig/Privileged</th>
                <td th:text="${container.hostConfig.privileged}">hostConfig</td>
            </tr>
            <tr>
                <th>HostConfig/PublishAllPorts</th>
                <td th:text="${container.hostConfig.publishAllPorts}">hostConfig</td>
            </tr>
            <tr>
                <th>HostConfig/ReadonlyRootfs</th>
                <td th:text="${container.hostConfig.readonlyRootfs}">hostConfig</td>
            </tr>
            <tr>
                <th>HostConfig/RestartPolicy/MaximumRetryCount</th>
                <td th:text="${container.hostConfig.restartPolicy.maximumRetryCount}">maximumRetryCount</td>
            </tr>
            <tr>
                <th>HostConfig/RestartPolicy/Name</th>
                <td th:text="${container.hostConfig.restartPolicy.name}">name</td>
            </tr>
            <tr>
                <th>HostConfig/SecurityOpt</th>
                <td th:text="${container.hostConfig.securityOpt}">hostConfig</td>
            </tr>
            <tr>
                <th>HostConfig/VolumesFrom</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.hostConfig.volumesFrom != null
                            and #arrays.length(container.hostConfig.volumesFrom) &gt;= 2} ? 'more'">
                        <li th:each="volumesFrom, status : ${container.hostConfig.volumesFrom}">
                            <span th:text="${volumesFrom}">volumesFrom</span>
                        </li>
                    </ul>
                </td>
            </tr>

            <!-- State -->
            <tr>
                <th>State/Pid</th>
                <td th:text="${container.state.pid}">state</td>
            </tr>
            <tr>
                <th><mark>State/StartedAt</mark></th>
                <td th:text="${container.state.startedAt}">state</td>
            </tr>
            <tr>
                <th><mark>State/FinishedAt</mark></th>
                <td th:text="${container.state.finishedAt}">state</td>
            </tr>
            <tr>
                <th><mark>State/Running</mark></th>
                <td th:text="${container.state.running}">state</td>
            </tr>
            <tr>
                <th>State/Restarting</th>
                <td th:text="${container.state.restarting}">state</td>
            </tr>
            <tr>
                <th>State/OOMKilled</th>
                <td th:text="${container.state.oomKilled}">state</td>
            </tr>
            <tr>
                <th>State/Error</th>
                <td th:text="${container.state.error}">state</td>
            </tr>
            <tr>
                <th>State/ExitCode</th>
                <td th:text="${container.state.exitCode}">state</td>
            </tr>

            <tr>
                <th>AppArmorProfile</th>
                <td th:text="${container.appArmorProfile}">appArmorProfile</td>
            </tr>
            <tr>
                <th>Args</th>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${container.args != null
                            and #arrays.length(container.args) &gt;= 2} ? 'more'">
                        <li th:each="arg, status : ${container.args}">
                            <span th:text="${arg}">arg</span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Driver</th>
                <td th:text="${container.driver}">driver</td>
            </tr>
            <tr>
                <th>ExecDriver</th>
                <td th:text="${container.execDriver}">execDriver</td>
            </tr>
            <tr>
                <th>ExecIDs</th>
                <td th:text="${container.execIDs}">execIDs</td>
            </tr>
            <tr>
                <th>HostnamePath</th>
                <td th:text="${container.hostnamePath}" class="text-justify">hostnamePath</td>
            </tr>
            <tr>
                <th>HostsPath</th>
                <td th:text="${container.hostsPath}" class="text-justify">hostsPath</td>
            </tr>
            <tr>
                <th>MountLabel</th>
                <td th:text="${container.mountLabel}">mountLabel</td>
            </tr>
            <tr>
                <th>ProcessLabel</th>
                <td th:text="${container.processLabel}">processLabel</td>
            </tr>
            <tr>
                <th>ResolvConfPath</th>
                <td th:text="${container.resolvConfPath}">resolvConfPath</td>
            </tr>
            <tr>
                <th>RestartCount</th>
                <td th:text="${container.restartCount}">restartCount</td>
            </tr>
        </table>
    </div>
</div><!-- /.container -->

<footer th:replace="_fragment :: footer"></footer>
</body>
</html>
