<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: header (title=${title} + ' - bluefairy')"></head>
<body>
<nav th:replace="_fragment :: navigator"></nav>
<div class="container">
    <!-- #action-modal -->
    <div id="action-modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="action-modal-label" aria-hidden="true"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            data-loading-text="&times;" autocomplete="off"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title">Run container</h4>
                </div>
                <div class="modal-body">
                    <form action="run" method="POST" class="form-horizontal"
                          th:action="@{/container/run}">
                        <div class="form-group">
                            <label for="actionModalId" class="col-sm-4 control-label">Id</label>
                            <div class="col-sm-8">
                                <p class="form-control-static action-modal-id">id</p>
                                <input type="hidden" name="id" class="action-modal-id"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="actionModalRepotags" class="col-sm-4 control-label">Repo Tags</label>
                            <div class="col-sm-8">
                                <p class="form-control-static action-modal-repotags">repo tags</p>
                                <input type="hidden" name="repoTags" class="action-modal-repotags"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exposablePorts" class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-6">
                                <input type="text" name="name" placeholder="/?[a-zA-Z0-9_-]+"
                                       class="action-modal-name form-control input-sm"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exposablePorts" class="col-sm-4 control-label">Exposable Ports</label>
                            <div class="col-sm-8">
                                <div id="exposable-ports"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            data-loading-text="Cancel" autocomplete="off">Cancel</button>
                    <button type="button" class="btn btn-primary" id="action-modal-btn"
                            data-loading-text="Please wait.." autocomplete="off">Run</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /#action-modal -->
    <div class="subject">
        <h1 th:text="${title}">title</h1>
        <p class="lead"></p>
    </div>
    <div>
        <table class="table table-hover table-condensed table-list">
            <tr class="active">
                <th>Id</th>
                <th>Repo Tags</th>
                <th>Size</th>
                <th>Virtual Size</th>
                <th>Parent Id</th>
                <th>Created</th>
                <th></th>
            </tr>
            <tr th:each="image : ${images}">
                <td th:text="${image.idToShort}" th:attr="data-id=${image.id}">id</td>
                <td>
                    <ul class="list-unstyled"
                        th:classappend="${image.repoTags != null
                            and #arrays.length(image.repoTags) &gt;= 2} ? 'more'">
                        <li th:each="repoTag : ${image.repoTags}">
                            <span th:text="${repoTag}">name</span>
                        </li>
                    </ul>
                </td>
                <td th:text="${image.size}">size</td>
                <td th:text="${image.virtualSize}">virtualSize</td>
                <td th:text="${image.parentIdToShort}" th:attr="data-id=${image.parentId}">parentId</td>
                <td th:text="${#dates.format(image.createdToDate, 'yyyy-MM-dd HH:mm')}">created</td>
                <td>
                    <button type="button" class="btn btn-default btn-xs"
                            data-toggle="modal" data-target="#action-modal"
                            th:attr="data-id=${image.idToShort}, data-repotags=${!#arrays.isEmpty(image.repoTags)}? ${image.repoTags[0]} :'' "
                            th:if="${not #arrays.contains(image.repoTags, '&lt;none&gt;:&lt;none&gt;')}"
                            >Run</button>
                    <button type="button" class="btn btn-default btn-xs btn-warning"
                            data-toggle="modal" data-target="#action-modal"
                            th:attr="data-id=${image.idToShort}, data-repotags=${!#arrays.isEmpty(image.repoTags)}? ${image.repoTags[0]} :'' "
                            th:if="${#arrays.contains(image.repoTags, '&lt;none&gt;:&lt;none&gt;')}"
                            >Run</button>
                </td>
            </tr>
        </table>
    </div>
</div><!-- /.container -->

<footer th:replace="_fragment :: footer"></footer>
<script th:inline="javascript">
/*<![CDATA[*/
$.ajaxSetup({
    timeout: 4000
});

$("#action-modal-btn").click(function() {
    var $portGroup = $("#action-modal form div:has(input[name='exposablePorts'])");

    var exposedPorts = {};
    var portBindings = {};

    $portGroup.each(function() {
        var exposablePorts = $(this).find("input[name='exposablePorts']").val();
        var exposePorts = $(this).find("input[name='exposePorts']").val();

        exposedPorts[exposablePorts] = {};
        portBindings[exposablePorts] = new Array();
        portBindings[exposablePorts].push({
            "HostPort" : exposePorts
        });
    });

    var submitData = {
        Hostname        : "",
        Domainname      : "",
        User            : "",
        Memory          : 0,
        MemorySwap      : 0,
        CpuShares       : 0,
        Cpuset          : "0",
        AttachStdin     : false,
        AttachStdout    : false,
        AttachStderr    : false,
        Tty             : false,
        OpenStdin       : false,
        StdinOnce       : false,
        Env             : null,
        Cmd             : [],
        Entrypoint      : [],
        Image           : $("#action-modal form input[name='repoTags']").val(),
        Volumes         : {}, // :HashMap<String, HashMap<String, String>>
        WorkingDir      : "",
        NetworkDisabled : false,
        MacAddress      : null,
        ExposedPorts    : exposedPorts, // :HashMap<protoAndPort:String, HashMap<expIp:String, expPort:String>>
        SecurityOpts    : [""],
        HostConfig      : {
            Binds           : [],
            //IpcMode         : null,
            //PidMode         : null,
            Links           : [],
            LxcConf         : [],
            PortBindings    : portBindings,
            PublishAllPorts : true,
            Privileged      : false,
            ReadonlyRootfs  : false,
            Dns             : [],
            DnsSearch       : [],
            ExtraHosts      : null,
            VolumesFrom     : [],
            CapAdd          : [],
            CapDrop         : [],
            //ContainerIDFile : null,
            RestartPolicy   : {
                Name              : "",
                MaximumRetryCount : 0
            },
            NetworkMode     : "bridge",
            //SecurityOpt     : null,
            Devices         : []
        }
    };

    var alertRunError = function() {
        var $alert = $("<div class='alert alert-danger alert-dismissible' role='alert'>" +
        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
        "<span aria-hidden='true'>&times;</span></button>" +
        "<strong>Error:</strong> Failed to run the container.</div>");
        $("#action-modal .modal-body").prepend($alert);
    };

    var url = /*[[ @{/api/v1/container/create} ]]*/ "#";
    var name = $("#action-modal form input[name='name']").val();

    if (name !== "" && !name.match(/^\/?[a-zA-Z0-9_-]+$/)) {
        alertRunError();
        return;
    }

    $("#action-modal button").button('loading');

    $.ajax({
        // endpoint
        type    : "POST",
        url     : url + "?name=" + name,
        // request
        contentType : "application/json",
        processData : false,
        data        : JSON.stringify(submitData),
        // response
        dataType: "json",
        statusCode: {
            404: function() {
                alert("page not found");
            }
        }
    }).done(function(data, textStatus, jqXHR) {
        var url = /*[[ @{/container/} ]]*/ "#";
        location.href = url + data.Id;
    }).fail(function(jqXHR, textStatus, errorThrown) {
        alertRunError();
    }).always(function() {
        $("#action-modal button").button('reset');
    });
});

$("#action-modal").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget);
    var actionModalId = button.data("id");
    var actionModalRepoTags = button.data("repotags");

    var url = /*[[ @{/api/v1/image/} ]]*/ "#";

    $.ajax({
        // endpoint
        type    : "GET",
        url     : url + actionModalId,
        // request
        contentType : "application/json",
        processData : false,
        // response
        dataType: "json",
        statusCode: {
            404: function() {
                alert("page not found");
            }
        }
    }).done(function(data, textStatus, jqXHR) {
        // data:PlainObject, textStatus:String, jqXHR:jqXHR
        var $exports = $("#exposable-ports");
        $exports.children().remove();

        for (key in data.ContainerConfig.ExposedPorts){
            var $exportsGroup = $("<div class='form-inline'></div>");
            var $exportsHidden = $("<input type='hidden' name='exposablePorts'/>");
            var $exportsInput = $("<input type='input' name='exposePorts' class='form-control input-sm'/>");
            var $exportsSpan = $("<span> -&gt; </span>");
            var $exportsLabel = $("<p class='form-control-static' style='padding-left:0;'></p>");

            $exportsInput.attr("placeholder", key.replace(/\/.*/, ""));
            $exportsLabel.text(key);
            $exportsHidden.val(key);

            $exportsGroup.append($exportsHidden).append($exportsInput)
                    .append($exportsSpan).append($exportsLabel);
            $exports.append($exportsGroup);
        }
    });

    var modal = $(this)
    modal.find('p.action-modal-id').text(actionModalId);
    modal.find('p.action-modal-repotags').text(actionModalRepoTags);
    modal.find('input.action-modal-id').val(actionModalId);
    modal.find('input.action-modal-repotags').val(actionModalRepoTags);
});

$(".table-list td:not(:has(button))").on("click", function() {
    var url = /*[[ @{/image/} ]]*/ "#";
    var $row = $(this).closest("tr");
    var $cell = $row.find("td[data-id]");

    location.href = url + $cell.data("id");
});
/*]]>*/
</script>
</body>
</html>
