<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: header (title=${title} + ' - bluefairy')"></head>
<body>
<nav th:replace="_fragment :: navigator"></nav>
<div class="container">
    <!-- #run-modal -->
    <div class="modal fade" id="run-modal" tabindex="-1"
         role="dialog" aria-labelledby="run-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title">Run container</h4>
                </div>
                <div class="modal-body">
                    <form action="run" method="POST" class="form-horizontal"
                          th:action="@{/container/run}">
                        <div class="form-group">
                            <label for="runModalId" class="col-sm-4 control-label">Id</label>
                            <div class="col-sm-8">
                                <p class="form-control-static run-modal-id">id</p>
                                <input type="hidden" name="id" class="run-modal-id"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="runModalRepotags" class="col-sm-4 control-label">Repo Tags</label>
                            <div class="col-sm-8">
                                <p class="form-control-static run-modal-repotags">repo tags</p>
                                <input type="hidden" name="repoTags" class="run-modal-repotags"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="run-modal-btn">Run</button>
                </div>
            </div>
        </div>
    </div>
    <!--/#run-modal-->
    <div class="subject">
        <h1 th:text="${title}">title</h1>
        <p class="lead"></p>
    </div>
    <div>
        <table id="image-table" class="table table-hover table-condensed">
            <tr class="active">
                <th>Id</th>
                <th>Repo Tags</th>
                <th>Size</th>
                <th>Virtual Size</th>
                <th>Parent Id</th>
                <th>Created</th>
                <th></th>
            </tr>
            <tr th:each="image : ${images}">
                <td th:text="${image.idToShort}" th:attr="data-id=${image.id}">id</td>
                <td>
                    <ul th:each="repoTag : ${image.repoTags}">
                        <li th:text="${repoTag}">name</li>
                    </ul>
                </td>
                <td th:text="${image.size}">size</td>
                <td th:text="${image.virtualSize}">virtualSize</td>
                <td th:text="${image.parentIdToShort}" th:attr="data-id=${image.parentId}">parentId</td>
                <td th:text="${#dates.format(image.createdToDate, 'yyyy-MM-dd HH:mm')}">created</td>
                <td>
                    <button type="button" class="btn btn-default btn-xs"
                            data-toggle="modal" data-target="#run-modal"
                            th:attr="data-id=${image.idToShort}, data-repotags=${!#arrays.isEmpty(image.repoTags)}? ${image.repoTags[0]} :'' "
                            th:if="${not #arrays.contains(image.repoTags, '&lt;none&gt;:&lt;none&gt;')}"
                            >Run</button>
                    <button type="button" class="btn btn-default btn-xs btn-warning"
                            data-toggle="modal" data-target="#run-modal"
                            th:attr="data-id=${image.idToShort}, data-repotags=${!#arrays.isEmpty(image.repoTags)}? ${image.repoTags[0]} :'' "
                            th:if="${#arrays.contains(image.repoTags, '&lt;none&gt;:&lt;none&gt;')}"
                            >Run</button>
                </td>
            </tr>
        </table>
    </div>
</div><!-- /.container -->

<footer th:replace="_fragment :: footer"></footer>
<script th:inline="javascript">
/*<![CDATA[*/
$("#run-modal-btn").click(function () {
    $("#run-modal form").submit();
});

$("#run-modal").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget);
    var runModalId = button.data("id");
    var runModalRepoTags = button.data("repotags");

    var modal = $(this)
    modal.find('p.run-modal-id').text(runModalId);
    modal.find('p.run-modal-repotags').text(runModalRepoTags);
    modal.find('input.run-modal-id').val(runModalId);
    modal.find('input.run-modal-repotags').val(runModalRepoTags);
});

$("#image-table td:not(:has(button))").on("click", function() {
    var url = /*[[ @{/image/} ]]*/ "#";
    var $row = $(this).closest("tr");
    var $cell = $row.find("td[data-id]");

    location.href = url + $cell.data("id");
});
/*]]>*/
</script>
</body>
</html>
