<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment :: header (title=${title} + ' - bluefairy')"></head>
<body>
<nav th:replace="_fragment :: navigator"></nav>
<div class="container">
    <!-- #action-modal -->
    <div id="action-modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="action-modal-label" aria-hidden="true"
         data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            data-loading-text="&times;" autocomplete="off"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title">Run container</h4>
                </div>
                <div class="modal-body">
                    <form action="image/pull/" method="POST" class="form-horizontal"
                          th:action="@{/image/pull/}">
                        <div class="form-group">
                            <label for="actionModalName" class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                                <p class="form-control-static action-modal-name">name</p>
                                <input type="hidden" name="name" class="action-modal-name"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            data-loading-text="Cancel" autocomplete="off">Cancel</button>
                    <button type="button" class="btn btn-primary" id="action-modal-btn"
                            data-loading-text="Please wait.." autocomplete="off">Pull</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /#action-modal -->
    <div class="subject">
        <h1 th:text="${title}">title</h1>
        <p class="lead">
        <div class="form-inline form-group">
            <input id="txt-search" type="text" class="form-control" placeholder="keyword"
                   th:value="${keyword}"/>&nbsp;
            <button id="btn-search" type="button" class="btn btn-primary">Search</button>
        </div>
        </p>
    </div>
    <div>
        <table class="table table-hover table-condensed table-list">
            <tr class="active">
                <th>Name</th>
                <th>Description</th>
                <th>Official</th>
                <th>Automated</th>
                <th>Star</th>
                <th></th>
            </tr>
            <tr th:each="sch : ${search}">
                <td th:text="${sch.name}">name</td>
                <td th:text="${sch.description}"
                    th:attr="data-content=${sch.description}"
                    class="ellipsis search-desc"
                    data-container="body" data-toggle="popover"
                    data-placement="top" data-trigger="hover">description</td>
                <td th:text="${sch.official}">official</td>
                <td th:text="${sch.automated}">automated</td>
                <td th:text="${sch.starCount}">starCount</td>
                <td>
                    <button type="button" class="btn btn-default btn-xs"
                            data-toggle="modal" data-target="#action-modal"
                            th:attr="data-name=${sch.name}, data-official=${sch.official}"
                            th:if="${sch.official}"
                            >Pull</button>
                    <button type="button" class="btn btn-default btn-xs btn-warning"
                            data-toggle="modal" data-target="#action-modal"
                            th:attr="data-name=${sch.name}, data-official=${sch.official}"
                            th:if="${not sch.official}"
                            >Pull</button>
                </td>
            </tr>
        </table>
    </div>
</div><!-- /.container -->

<footer th:replace="_fragment :: footer"></footer>
<script th:inline="javascript">
/*<![CDATA[*/
$.ajaxSetup({
    timeout: 4000
});

$("[data-toggle='popover']").popover();

var submitSearch = function() {
    var url = /*[[ @{/search/} ]]*/ "#";
    var keyword = $("#txt-search").val();

    location.href = url + keyword;
};

$("#txt-search").on("keyup", function(event) {
    if (event.keyCode !== 0x0D) {
        return;
    }
    submitSearch();
});

$("#btn-search").on("click", function() {
    submitSearch();
});

$("#action-modal-btn").click(function() {
//    var url = /*[[ @{/api/v1/container/create} ]]*/ "#";
    var url = /*[[ @{/image/pull/} ]]*/ "#";
    var name = $("#action-modal form input[name='name']").val();

    var $form = $("#action-modal form");
    $form.attr("action", url + name);
    $form.submit();

//    var $portGroup = $("#action-modal form div:has(input[name='exposablePorts'])");
//
//    var exposedPorts = {};
//    var portBindings = {};
//
//    $portGroup.each(function() {
//        var exposablePorts = $(this).find("input[name='exposablePorts']").val();
//        var exposePorts = $(this).find("input[name='exposePorts']").val();
//
//        exposedPorts[exposablePorts] = {};
//        portBindings[exposablePorts] = new Array();
//        portBindings[exposablePorts].push({
//            "HostPort" : exposePorts
//        });
//    });
//
//    var submitData = {
//        Hostname        : "",
//        Domainname      : "",
//        User            : "",
//        Memory          : 0,
//        MemorySwap      : 0,
//        CpuShares       : 0,
//        Cpuset          : "0",
//        AttachStdin     : false,
//        AttachStdout    : false,
//        AttachStderr    : false,
//        Tty             : false,
//        OpenStdin       : false,
//        StdinOnce       : false,
//        Env             : null,
//        Cmd             : [],
//        Entrypoint      : [],
//        Image           : $("#action-modal form input[name='repoTags']").val(),
//        Volumes         : {}, // :HashMap<String, HashMap<String, String>>
//        WorkingDir      : "",
//        NetworkDisabled : false,
//        MacAddress      : null,
//        ExposedPorts    : exposedPorts, // :HashMap<protoAndPort:String, HashMap<expIp:String, expPort:String>>
//        SecurityOpts    : [""],
//        HostConfig      : {
//            Binds           : [],
//            //IpcMode         : null,
//            //PidMode         : null,
//            Links           : [],
//            LxcConf         : [],
//            PortBindings    : portBindings,
//            PublishAllPorts : true,
//            Privileged      : false,
//            ReadonlyRootfs  : false,
//            Dns             : [],
//            DnsSearch       : [],
//            ExtraHosts      : null,
//            VolumesFrom     : [],
//            CapAdd          : [],
//            CapDrop         : [],
//            //ContainerIDFile : null,
//            RestartPolicy   : {
//                Name              : "",
//                MaximumRetryCount : 0
//            },
//            NetworkMode     : "bridge",
//            //SecurityOpt     : null,
//            Devices         : []
//        }
//    };
//
//    var alertRunError = function() {
//        var $alert = $("<div class='alert alert-danger alert-dismissible' role='alert'>" +
//        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>" +
//        "<span aria-hidden='true'>&times;</span></button>" +
//        "<strong>Error:</strong> Failed to run the container.</div>");
//        $("#action-modal .modal-body").prepend($alert);
//    };
//
//    var url = /*[[ @{/api/v1/container/create} ]]*/ "#";
//    var name = $("#action-modal form input[name='name']").val();
//
//    if (name !== "" && !name.match(/^\/?[a-zA-Z0-9_-]+$/)) {
//        alertRunError();
//        return;
//    }
//
//    $("#action-modal button").button('loading');
//
//    $.ajax({
//        // endpoint
//        type    : "POST",
//        url     : url + "?name=" + name,
//        // request
//        contentType : "application/json",
//        processData : false,
//        data        : JSON.stringify(submitData),
//        // response
//        dataType: "json",
//        statusCode: {
//            404: function() {
//                alert("page not found");
//            }
//        }
//    }).done(function(data, textStatus, jqXHR) {
//        var url = /*[[ @{/container/} ]]*/ "#";
//        location.href = url + data.Id;
//    }).fail(function(jqXHR, textStatus, errorThrown) {
//        alertRunError();
//    }).always(function() {
//        $("#action-modal button").button('reset');
//    });
});

$("#action-modal").on("show.bs.modal", function (event) {
    var $button = $(event.relatedTarget);
    var actionModalName = $button.data("name");

    $(this).find("[name='name']").val(actionModalName);

//    var url = /*[[ @{/api/v1/image/} ]]*/ "#";
//    var url = /*[[ @{/image/pull/} ]]*/ "#";

//    $.ajax({
//        // endpoint
//        type    : "GET",
//        url     : url + actionModalId,
//        // request
//        contentType : "application/json",
//        processData : false,
//        // response
//        dataType: "json",
//        statusCode: {
//            404: function() {
//                alert("page not found");
//            }
//        }
//    }).done(function(data, textStatus, jqXHR) {
//        // data:PlainObject, textStatus:String, jqXHR:jqXHR
//        var $exports = $("#exposable-ports");
//        $exports.children().remove();
//
//        for (key in data.ContainerConfig.ExposedPorts){
//            var $exportsGroup = $("<div class='form-inline'></div>");
//            var $exportsHidden = $("<input type='hidden' name='exposablePorts'/>");
//            var $exportsInput = $("<input type='input' name='exposePorts' class='form-control input-sm'/>");
//            var $exportsSpan = $("<span> -&gt; </span>");
//            var $exportsLabel = $("<p class='form-control-static' style='padding-left:0;'></p>");
//
//            $exportsInput.attr("placeholder", key.replace(/\/.*/, ""));
//            $exportsLabel.text(key);
//            $exportsHidden.val(key);
//
//            $exportsGroup.append($exportsHidden).append($exportsInput)
//                    .append($exportsSpan).append($exportsLabel);
//            $exports.append($exportsGroup);
//        }
//    });
//
//    var modal = $(this)
//    modal.find('p.action-modal-id').text(actionModalId);
//    modal.find('p.action-modal-repotags').text(actionModalRepoTags);
//    modal.find('input.action-modal-id').val(actionModalId);
//    modal.find('input.action-modal-repotags').val(actionModalRepoTags);
});

$(".table-list td:not(:has(button))").on("click", function() {
    var url = /*[[ @{/image/} ]]*/ "#";
    var $row = $(this).closest("tr");
    var $cell = $row.find("td[data-id]");

    location.href = url + $cell.data("id");
});
/*]]>*/
</script>
</body>
</html>
